[core]
	editor = /usr/bin/vim
	excludesfile = /home/phatina/.gitignore_global

[user]
	email = peter@hatina.eu
	name = Peter Hatina

[format]
        signature = "Peter Hatina\n\nPGP: D332 6896 105C 5638"

[sendemail]
	smtpserver = mail.hatina.eu
	confirm = always
	chainreplyto = false
	smtpencryption = tls
	smtpuser = peter@hatina.eu
	smtpserverport = 587

[push]
	default = tracking

[giggle]
	main-window-maximized = true
	main-window-geometry = 1600x846+0+0
	history-view-vpane-position = 275
	main-window-view = HistoryView

[color]
	ui = auto

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[cola]
	spellcheck = false
	tabwidth = 4
	textwidth = 80
[gui]
	editor = gvim
