[submodule ".tmux/contrib/tmux-resurrect"]
	path = .tmux/contrib/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
