[core]
	editor = /usr/bin/vim
	excludesfile = /home/phatina/.gitignore_global

[user]
	email = peter@hatina.eu
	name = Peter Hatina

[format]
        signature = "Peter Hatina\n\nPGP: 12DC 9BD0 69E9 EB13"

[sendemail]
	smtpserver = smtp.googlemail.com
	confirm = always
	chainreplyto = false

[push]
	default = tracking

[giggle]
	main-window-maximized = true
	main-window-geometry = 1600x846+0+0
	history-view-vpane-position = 275
	main-window-view = HistoryView

[color]
	ui = auto

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[cola]
	spellcheck = false
	tabwidth = 4
	textwidth = 80
[gui]
	editor = gvim
